@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
}

@font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('./assets/font/zhcn.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(144.15deg, #102133 6.38%, #406285 127.01%, #406285 160.25%);
    background-attachment: fixed;
}

.headerAbout {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)), url(../img/headerAbout.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.headerAbout .text-header {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headerAbout .text-header h1 {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 27.1303px 66.6929px 234px rgba(255, 255, 255, 0.53), 17.5844px 43.2269px 137.042px rgba(255, 255, 255, 0.402407), 10.4502px 25.6891px 74.5333px rgba(255, 255, 255, 0.321926), 5.42605px 13.3386px 38.025px rgba(255, 255, 255, 0.265), 2.21061px 5.43424px 19.0667px rgba(255, 255, 255, 0.208074), 0.502412px 1.23505px 9.20833px rgba(255, 255, 255, 0.127593);
}

.headerAbout .text-header p {
    padding-top: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.6;
}

@media(max-width:1060px) {

    .headerAbout .text-header h1 {
        font-size: 48px;
    }

    .headerAbout .text-header p {
        font-size: 18px;
    }
}

@media(max-width: 768px) {


    .headerAbout .text-header h1 {
        font-size: 40px;
    }

    .headerAbout .text-header p {
        font-size: 16px;
    }
}




/* fitur */
.game-feature {
    width: 100%;
    margin: auto;
    padding-right: 96px;
    padding-left: 96px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.game-feature .text {
    text-align: center;
}

.game-feature .text h1 {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.game-feature .text p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #79828C;
    padding-top: 16px;
}

.feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1060px) {
    .game-feature {
        padding-right: 88px;
        padding-left: 88px;
    }

    .game-feature .text h1 {
        font-size: 36px;
    }

    .game-feature .text p {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .game-feature {
        padding-right: 64px;
        padding-left: 64px;
    }

    .game-feature .text h1 {
        font-size: 32px;
    }

    .game-feature .text p {
        font-size: 14px;
    }
}

@media(max-width: 576px) {
    .game-feature {
        padding-right: 40px;
        padding-left: 40px;
    }

    .game-feature .text h1 {
        font-size: 28px;
    }

    .game-feature .text p {
        font-size: 14px;
    }
}

/* Fitur Game 01 */
.fitur-01 {
    padding-top: 56px;
    padding-bottom: 56px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content .text-box {
    z-index: 222;
    background: #67717D;
    border: 32px solid #102133;
    border-radius: 20px;
    padding: 24px;
    max-width: 400px;
    transform: translateY(50px);
    position: absolute;
    height: 316px;
    right: -80px;
    top: 90px;
    padding-top: 16px;
}

.content .text-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'HYWenHei 85W';
    background: #67717D;
    border-radius: 20px;

}

.content .text-box p {
    font-family: 'Space Grotesk';
    font-size: 16px;

}

@media(max-width: 1060px) {
    .content .image {
        width: 600px;
    }

    .content .text-box {
        max-width: 300px;
        right: -60px;
    }

    .content .text-box h3 {
        font-size: 18px;

    }

    .content .text-box p {
        font-size: 14px;

    }
}

@media(max-width: 768px) {
    .content .image {
        width: 400px;
    }

    .content .text-box {
        max-width: 270px;
        right: -30px;
    }

    .content .text-box h3 {
        font-size: 16px;

    }

    .content .text-box p {
        font-size: 12px;

    }
}

@media(max-width: 576px) {
    .content .image {
        width: 300px;
    }

    .content .text-box {
        max-width: 270px;
        right: -10px;
    }

    .content .text-box h3 {
        font-size: 14px;

    }

    .content .text-box p {
        font-size: 12px;

    }
}

/* Fitur Game 02 */

.fitur-02 {
    padding-top: 56px;
    padding-bottom: 56px;
}

.content2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 .image2 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content2 .image2 img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content2 .text-box2 {
    z-index: 222;
    background: #67717D;
    border: 32px solid #102133;
    border-radius: 20px;
    padding: 24px;
    max-width: 400px;
    transform: translateY(50px);
    position: absolute;
    width: 402vw;
    height: 316px;
    left: -80px;
    top: 90px;
    padding-top: 16px;
}

.content2 .text-box2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'HYWenHei 85W';
    background: #67717D;
    border-radius: 20px;

}

.content2 .text-box2 p {
    font-family: 'Space Grotesk';
    font-size: 16px;
}

@media(max-width: 1060px) {
    .content2 .image2 {
        width: 600px;
    }

    .content2 .text-box2 {
        max-width: 300px;
        left: -60px;
    }

    .content2 .text-box2 h3 {
        font-size: 18px;

    }

    .content2 .text-box2 p {
        font-size: 14px;

    }
}

@media(max-width: 768px) {
    .content2 .image2 {
        width: 400px;
    }

    .content2 .text-box2 {
        max-width: 270px;
        left: -30px;
    }

    .content2 .text-box2 h3 {
        font-size: 16px;

    }

    .content2 .text-box2 p {
        font-size: 12px;

    }
}

@media(max-width: 576px) {
    .content2 .image2 {
        width: 300px;
    }

    .content2 .text-box2 {
        max-width: 270px;
        left: -10px;
    }

    .content2 .text-box2 h3 {
        font-size: 14px;

    }

    .content2 .text-box2 p {
        font-size: 12px;

    }
}

/* Fitur Game 03 */

.fitur-03 {
    padding-top: 56px;
    padding-bottom: 56px;
}

.content3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content3 .image3 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content3 .image3 img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content3 .text-box3 {
    z-index: 222;
    background: #67717D;
    border: 32px solid #102133;
    border-radius: 20px;
    padding: 24px;
    max-width: 400px;
    transform: translateY(50px);
    position: absolute;
    width: 402vw;
    height: 316px;
    right: -80px;
    top: 90px;
    padding-top: 16px;
}

.content3 .text-box3 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'HYWenHei 85W';
}

.content3 .text-box3 p {
    font-family: 'Space Grotesk';
    font-size: 16px;
}

@media(max-width: 1060px) {
    .content3 .image3 {
        width: 600px;
    }

    .content3 .text-box3 {
        max-width: 300px;
        right: -60px;
    }

    .content3 .text-box3 h3 {
        font-size: 18px;

    }

    .content3 .text-box3 p {
        font-size: 14px;

    }
}

@media(max-width: 768px) {
    .content3 .image3 {
        width: 400px;
    }

    .content3 .text-box3 {
        max-width: 270px;
        right: -30px;
    }

    .content3 .text-box3 h3 {
        font-size: 16px;

    }

    .content3 .text-box3 p {
        font-size: 12px;

    }
}

@media(max-width: 576px) {
    .content3 .image3 {
        width: 300px;
    }

    .content3 .text-box3 {
        max-width: 270px;
        right: -10px;
    }

    .content3 .text-box3 h3 {
        font-size: 14px;

    }

    .content3 .text-box3 p {
        font-size: 12px;

    }
}

/* button */

.btnChar {
    background: #F4EFE1;
    border: 8px solid #E4D9C9;
    padding: 8px 24px;
    border-radius: 6px;
    color: black;
    font-family: 'HYWenHei 85W';
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    transition: .4s;
}

.btnWeapon {
    background: #F4EFE1;
    border: 8px solid #E4D9C9;
    padding: 8px 24px;
    border-radius: 6px;
    color: black;
    font-family: 'HYWenHei 85W';
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    transition: .4s;
}

.button .btn {
    list-style-type: none;
    position: absolute;
    text-decoration: none;
    top: 2550px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 32px;

}