@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
}

@font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('./assets/font/zhcn.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(144.15deg, #102133 6.38%, #406285 127.01%, #406285 160.25%);
    background-attachment: fixed;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)), url(../img/charactherhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.header .text-header {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header .text-header h1 {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 27.1303px 66.6929px 234px rgba(255, 255, 255, 0.53), 17.5844px 43.2269px 137.042px rgba(255, 255, 255, 0.402407), 10.4502px 25.6891px 74.5333px rgba(255, 255, 255, 0.321926), 5.42605px 13.3386px 38.025px rgba(255, 255, 255, 0.265), 2.21061px 5.43424px 19.0667px rgba(255, 255, 255, 0.208074), 0.502412px 1.23505px 9.20833px rgba(255, 255, 255, 0.127593);
}

.header .text-header p {
    padding-top: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.6;
}



@media(max-width: 768px) {

    .header .text-header h1 {
        font-size: 40px;
    }

    .header .text-header p {
        font-size: 16px;
    }
}

@media(max-width: 576px) {

    .header .text-header {
        margin-top: 40px;
    }

    .header .text-header h1 {
        font-size: 36px;
    }

    .header .text-header p {
        font-size: 16px;
        padding-top: 8px;
    }
}

/* characthers */
.characters-content {
    width: 100%;
    margin: auto;
    padding-right: 88px;
    padding-left: 88px;
    margin-top: 56px;
    margin-bottom: 56px;
}

.tabs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabs ul li {
    list-style: none;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.tabs ul li .map-btn {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #102133;
    background: #F4EFE1;
    border: 6px solid #E4D9C9;
    padding: 4px 20px;
    cursor: pointer;
}

.tabs ul li .map-btn {
    content: '';
    opacity: 20%;
}

.tabs ul li .map-btn.active {
    opacity: 100%;
}

.container {
    width: 100%;
    margin: auto;
    margin-top: 32px;
    position: relative;
}

.content-char {
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    display: none;
}

.content-char.active {
    display: block;
    animation: fade 3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.characther-card {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.characther-card .flip-card {
    margin: 16px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.content-char .characther-card .flip-card-front {
    width: 280px;
    min-height: 620px;
    height: auto;
    background-color: #102133;
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    border-radius: 20px;
}

.content-char .characther-card .flip-card-back {
    width: 280px;
    min-height: 620px;
    height: auto;
    background-color: #102133;
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    border-radius: 20px;
}
#char1-front{
    background-image: url("../img/char1.png");
}
#char1-back{
    background-image: url("../img/chardetail1.png");
}
#char2-front{
    background-image: url("../img/char2.png");
}
#char2-back{
    background-image: url("../img/chardetail2.png");
}
#char3-front{
    background-image: url("../img/char3.png");
}
#char3-back{
    background-image: url("../img/chardetail3.png");
}
#char4-front{
    background-image: url("../img/char4.png");
}
#char4-back{
    background-image: url("../img/chardetail4.png");
}
#char5-front{
    background-image: url("../img/char5.png");
}
#char5-back{
    background-image: url("../img/chardetail5.png");
}
#char6-front{
    background-image: url("../img/char6.png");
}
#char6-back{
    background-image: url("../img/chardetail6.png");
}
#char7-front{
    background-image: url("../img/char7.png");
}
#char7-back{
    background-image: url("../img/chardetail7.png");
}
#char8-front{
    background-image: url("../img/char8.png");
}
#char8-back{
    background-image: url("../img/chardetail8.png");
}
#char9-front{
    background-image: url("../img/char9.png");
}
#char9-back{
    background-image: url("../img/chardetail9.png");
}
#char10-front{
    background-image: url("../img/char10.png");
}
#char10-back{
    background-image: url("../img/chardetail10.png");
}
#char11-front{
    background-image: url("../img/char11.png");
}
#char11-back{
    background-image: url("../img/chardetail11.png");
}
#char12-front{
    background-image: url("../img/char12.png");
}
#char12-back{
    background-image: url("../img/chardetail12.png");
}#char13-front{
    background-image: url("../img/char13.png");
}
#char13-back{
    background-image: url("../img/chardetail13.png");
}
#char14-front{
    background-image: url("../img/char14.png");
}
#char14-back{
    background-image: url("../img/chardetail14.png");
}#char15-front{
    background-image: url("../img/char15.png");
}
#char15-back{
    background-image: url("../img/chardetail15.png");
}
#char16-front{
    background-image: url("../img/char16.png");
}
#char16-back{
    background-image: url("../img/chardetail16.png");
}


.characther-card .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.characther-card .flip-card-front {
    align-items: center;
}

.characther-card .inner-front {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 80%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.element1  {
    filter: drop-shadow(0px 0px 30px rgba(41, 14, 24, 0.7)) drop-shadow(0px 0px 9px rgba(41, 147, 244, 0.01)) drop-shadow(0px 0px 8px rgba(41, 147, 244, 0.07)) drop-shadow(0px 0px 7px rgba(41, 147, 244, 0.25)) drop-shadow(0px 0px 5px rgba(41, 147, 244, 0.43)) drop-shadow(0px 0px 3px rgba(41, 147, 244, 0.49)) drop-shadow(0px 0px 0px rgba(41, 147, 244, 0.5));
}
.element2  {
    filter: drop-shadow(0px 0px 40px rgba(152, 90, 234, 0.7)) drop-shadow(0px 0px 9px rgba(152, 90, 234, 0.01)) drop-shadow(0px 0px 8px rgba(152, 90, 234, 0.07)) drop-shadow(0px 0px 7px rgba(152, 90, 234, 0.25)) drop-shadow(0px 0px 5px rgba(152, 90, 234, 0.43)) drop-shadow(0px 0px 3px rgba(152, 90, 234, 0.49)) drop-shadow(0px 0px 0px rgba(152, 90, 234, 0.5));
}
.element3  {
    filter: drop-shadow(0px 0px 40px rgba(240, 77, 67, 0.7)) drop-shadow(0px 0px 9px rgba(240, 77, 67, 0.01)) drop-shadow(0px 0px 8px rgba(240, 77, 67, 0.07)) drop-shadow(0px 0px 7px rgba(240, 77, 67, 0.25)) drop-shadow(0px 0px 5px rgba(240, 77, 67, 0.43)) drop-shadow(0px 0px 3px rgba(240, 77, 67, 0.49)) drop-shadow(0px 0px 0px rgba(240, 77, 67, 0.5));
}

.characther-card .inner-front h3 {
    font-family: 'HYWenHei 85W';
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 116px rgba(255, 255, 255, 0.36), 0px 0px 67.9352px rgba(255, 255, 255, 0.273333), 0px 0px 36.9481px rgba(255, 255, 255, 0.218667), 0px 0px 18.85px rgba(255, 255, 255, 0.18), 0px 0px 9.45185px rgba(255, 255, 255, 0.141333), 0px 0px 4.56482px rgba(255, 255, 255, 0.0866667);
}

.characther-card .flip-card-back .inner {
    width: 100%;
    padding: 72px 24px 0px 24px;
    position: absolute;
    z-index: 2;
}

.characther-card .inner h3 {
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: capitalize;
}

.characther-card .inner p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    opacity: 60%;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.characther-card .flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
}

.characther-card .flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
}


@media(max-width: 768px) {
    .characters-content {
        padding-right: 64px;
        padding-left: 64px;
    }

    .tabs ul li .map-btn {
        font-size: 16px;
        border: 4px solid #E4D9C9;
        padding: 4px 10px;
    }

    .tabs ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media(max-width: 576px) {
    .characters-content {
        padding-right: 40px;
        padding-left: 40px;
    }

    .tabs ul li .map-btn {
        font-size: 14px;
        border: 2px solid #E4D9C9;
        padding: 4px 8px;
        margin-bottom: 8px;
    }

    .tabs ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}